{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 page-404">
            <div class="details">
                <h3>Error 403</h3>
                <p>
                    You don't have permission to access to this resource.
                </p>
                <p>
                    Ask your manager or system administrator to grant you
                    access to this resource.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}






